* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #f9b4a1;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-image: url("img/cat4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel:nth-of-type(2) {
  background-image: url("img/cat5.jpg");
}

.panel:nth-of-type(3) {
  background-image: url("img/cat2.jpg");
}

.panel:nth-of-type(4) {
  background-image: url("img/cat3.jpg");
}

.panel:nth-of-type(5) {
  background-image: url("img/cat1.jpg");
}

.panel.active {
  flex: 5;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
