@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #f9b4a1;
}

.container {
  display: flex;
  width: 90vw;
}

.p1 {
  background-image: url("img/cat4.jpg");
}
.p2 {
  background-image: url("img/cat5.jpg");
}
.p3 {
  background-image: url("img/cat2.jpg");
}

.p4 {
  background-image: url("img/cat1.jpg");
}

.p5 {
  background-image: url("img/cat3.jpg");
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel.active {
  flex: 5;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
